h1, h2, h3, h4, h5, h6 p {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 15px;
    font-weight: 250;
}
/*NAVIGATION STYLE*/
.customNav {
    display: flex;
    padding: 2% 6%;
    margin: 0;
    align-items: center;
    justify-content: right;
  }

.customNav img {
 width: 80px;
 margin: 10px;
 padding-right: 15px;
}

.customNav a {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

ul li::after {
    content: '';
    width: 0%; /*visibility of the underline red*/
    height: 2px;
    background: #fc434a;
    display: block;
    margin:auto;
    transition: 0.5s; /*the hover feature*/
}

ul li:hover::after { /*the hover feature*/
    width: 100%;
    color: #fc434a;
}

/*JUMBOTRON STYLE*/
.jumbotron {
    background-image: url("../images/hero-image-portfolio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
    }
    
    .jumboCopy {
      width: 80%;
      min-width: 500px;
      max-width: 900px;
      color: white;
      text-align: right;
    }

/*BUTTON STYLE*/
.btn-primary-override {
    text-decoration: none;
    color: #000000 !important;
    background-color: white !important;
    border-color: black !important;
    border-radius: 20px !important;
    position: relative !important;
    cursor: pointer !important;
    font-size: 15px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-family: 'Poppins', sans-serif !important;

}
.btn-primary-override:hover, 
.btn-primary-override:active,
.btn-primary-override:focus,
.btn-primary-override:visited {
    background-color: #fc434a !important;
    border-color: #fc434a !important;
    background-image: none !important;
    border: 0 !important;
}



/*MY SKILLS*/
.skills {
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 50px;
}

.container-fluid {
    border: 0 !important;
}


/*MY WORK*/
.myWork {
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top: 50px;  
}

/* Cards BELOW */
.cardContainer {
    margin-top: 20px;
  }
  .card {
    margin: 0 auto;
    border-radius: none;
    border-style: none;
  }
  
  .content {
    padding: 50px;
  }
   
  .showsNear {
    padding: 0px 30px 30px 30px;
  }
  
  .cardContainer {
    text-align: left;
  }

/*-----FOOTER SECTION------*/

.footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;

}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600px;
}

.footer img {
    width: 100px;

}
.icons .fa-brands {
    color: #fc434a;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;;
}

.icons p {
    text-align: left;
    margin: 40px;
    padding: 0%;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size:  20px;
}

.row{
    flex-direction: column;
}
}